.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #14223c;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* posts table */

.data-table {
  width: 90% !important;
  margin: 0 5%;
  border-collapse: collapse;
  table-layout: auto;
}
.data-table td {
  border: 1px solid #ddd;
}
.data-table tr {
  text-align: left;
}
.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #ddd;
}
.item-metadata {
  width: 20%;
}
.item-contents {
  width: 60%;
}
.item-voting {
  width: 20%;
}

.details-view {
  text-align: left;
  width: 50%;
  margin-left: 20%;
}
.details-metadata {
  font-family: "Roboto", sans-serif;
}
.details-content {
  border: 1px solid #ddd;
}

.item-title {
  font-weight: bold;
}

label {
  font-weight: bold;
  text-align: top right;
  display: inline;
  margin-right: 15px;
}
